.projectscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.projectbar-container {
    align-self: flex-end;
}

main {
    width: 100%;
    padding: 0px;
}

.container {
    display: flex;
}

.projectbar {
    background: #8e8e8e23;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 1);
    color: #0e0101;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.logo {
    font-size: 30px;
    width: 100vw;
    height: 100%;
    padding: 5% 20% 0 0;
}
/* .fleches {
    font-size:  60px;
    margin: 0 55px 0 10px;
    width: 24px;
    height: 50px;
} */
.fleches {
    margin: 20px 0% 0% 10px;
    display: flex;

    align-items: center;
    width: 5vw;
}
.link {
    display: flex;
    color: #0a0000;
    padding: 15px 25px;
    gap: 25px;
    transition: all 0.5s;
    text-decoration: none;
}
.link:hover {
    background: rgba(1, 13, 20, 0.123);
    color: #000;
    transition: all 0.5s;
}
.active {
    background: rgba(1, 13, 20, 0.082);
    color: #000;
}
.icon,
.link_text {
    font-size: 20px;
    color: #674cc0;
}
